<?xml version='1.0' encoding='utf-8'?>
<widget id="io.oumind.demo.pingxx" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>pingxxDemo</name>
    <description>demo for pingxx cordova plugin </description>
    <author>oumind</author>
    <keywords>pingxx,pay,demo</keywords>
    <license>Apache 2.0 License</license>
    <content src="index.html" />
    <access origin="*" />

</widget>
